<!DOCTYPE html>
<html>
<head>
  <title>SearchBear</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="login">
		<h3>Log In</h3>
		<%= form_tag sessions_path do %>
		<%= label_tag :parent_email %>
		<%= text_field_tag :parent_email %>

		<%= label_tag :password %>
		<%= password_field_tag :password %>

		<%= submit_tag "Login" %>
		<% end %>
	<div>

</body>
</html>
